// Fonts including
@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo20-Bold.eot');
    src: url('../fonts/Exo20-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo20-Bold.woff2') format('woff2'),
        url('../fonts/Exo20-Bold.woff') format('woff'),
        url('../fonts/Exo20-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo20-Regular.eot');
    src: url('../fonts/Exo20-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo20-Regular.woff2') format('woff2'),
        url('../fonts/Exo20-Regular.woff') format('woff'),
        url('../fonts/Exo20-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// Common
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #174664;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
button {
    font-family: inherit;
}
.container {
    max-width: 100%;
    margin: 0 10%;

    @media (max-width: 900px) {
        margin: 0 5%;
    }
}
.section {
    padding: 5% 0;
}
.wrapper {
    min-height: 100%;
    position: relative;
}
#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


// header
.header {
    color: #fff;
    font-size: 10px;
    
    .container {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#fff, .7);

        @media (max-width: 660px) {
            padding: 10px 0;
        }
    }

    &-nav {

        &__list {

            &-item {
                display: inline-block;

                @media (max-width: 660px) {
                    display: block;
                }

                &:not(:last-child) {
                    margin-right: 40px;

                    @media (max-width: 900px) {
                        margin-right: 20px;
                    }
                    @media (max-width: 660px) {
                        margin-bottom: 5px;
                    }
                }
            }

            &-link {
                font-size: 1.8em;

                @media (max-width: 900px) {
                    font-size: 1.5em;
                }
                @media (max-width: 500px) {
                    font-size: 1.8em;
                }
            }
        }
    }
}



// pyramid
.pyramid {
    margin-bottom: 70px;

    .container {
        margin: 0 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 940px) {
            margin: 0 5%;
        }
        @media (max-width: 860px) {
            margin: 0 10%;
            flex-direction: column;
        }
    }

    &-info {
        flex-basis: 30%;

        @media (max-width: 860px) {
            margin-bottom: 5%;
            width: 100%;
        }

        .info {

            &-text {
                margin-bottom: 5px;
                color: rgba(#fff, .7);
                font-size: 24px;
            }

            &-number {
                color: #fff;
                font-size: 50px;
            }

            &--second {

                .info-text {
                    font-size: 18px;
                }

                .info-number {
                    font-size: 40px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }

    &-stat {
        position: relative;
        flex-basis: 70%;

        @media (max-width: 860px) {
            width: 100%;
        }

        .stat {

            &-list {
                position: relative;
                display: flex;
                flex-direction: column;
                z-index: 15;

                &:before {
                    content: '';
                    height: 200%;
                    width: 100%;
                    position: absolute;
                    top: -2%;
                    left: 0;
                    background: url(../img/pyramid.svg) no-repeat;
                    z-index: 20;
                }
            }

            &-item {
                padding: 10px 0 5px;
                width: 75%;
                align-self: flex-end;
                text-align: right;
                color: rgba(#fff, .2);
                border-bottom: 1px solid rgba(#fff, .2);

                @media (max-width: 625px) {
                    width: 65%;
                }
                @media (max-width: 380px) {
                    width: 55%;
                }

                .text {
                    font-size: 18px;
                }

                &.active {
                    background-image: linear-gradient(to right, #3685b4, rgba(54, 133, 180, 0));
                    
                    .text {
                        color: #fff;
                    }
                }
            }
        }
    }
}



// bet
.bet {
    color: #fff;

    &-choose {
        margin-bottom: 40px;

        @media (max-width: 940px) {
            margin-bottom: 50px;
        }

        &-text {
            margin-bottom: 25px;
            text-align: center;
            color: rgba(#fff, .7);
            font-size: 24px;
        }

        .choose {

            &-buttons {
                width: 90%;
                float: left;
                display: inline-block;
                font-size: 0;

                @media (max-width: 940px) {
                    width: 100%;
                }

                .btn {
                    height: 50px;
                    width: 50px;
                    display: inline-block;
                    background-color: #0a1240;
                    color: #fff;
                    font-size: 24px;
                    border: 2px solid $blue;
                    border-right: 0;
                    cursor: pointer;
                    
                    @media (max-width: 1070px) {
                        height: 45px;
                        width: 45px;
                        font-size: 20px;
                    }
                    @media (max-width: 940px) {
                        height: 70px;
                        width: 70px;
                    }

                    &-group {
                        display: inline-block;

                        @media (max-width: 940px) {
                            display: flex;
                            justify-content: center;
                        }

                        @media (max-width: 940px) {
                            .btn:last-child {
                                border-right: 2px solid $blue;
                            }
                        }

                        &:last-child {

                            .btn:last-child {
                                border-right: 2px solid $blue;
                            }
                        }
                    }
                    
                    &.active {
                        position: relative;
                        background-color: $blue;
                        box-shadow: 0 0 14px 0 rgba(62, 197, 172, 0.2);
                        
                        &:before {
                            content: '';
                            height: 2px;
                            width: calc(100% + 4px);
                            position: absolute;
                            top: -4px;
                            left: -2px;
                            background-color: $blue;
                        }
                        &:after {
                            content: '';
                            height: 2px;
                            width: calc(100% + 4px);
                            position: absolute;
                            bottom: -4px;
                            left: -2px;
                            background-color: $blue;
                        }
                    }
                }
            }

            &-number {
                width: 10%;
                float: right;
                display: inline-block;
                font-size: 48px;
                font-weight: bold;

                @media (max-width: 1000px) {
                    height: 50px;
                    font-size: 32px;
                    line-height: 50px;
                }
                @media (max-width: 940px) {
                    margin-top: 10px;
                    width: 100%;
                    display: block;
                    font-size: 40px;
                    text-align: center;
                    line-height: normal;
                }
            }
        }
    }

    &-input {
        margin: 0 auto 45px;
        width: 240px;
        color: #fff;

        .input-block {

            .top-btns {
                margin: 0 -5px 10px;
                display: flex;

                .btn {
                    margin: 0 5px;
                    padding: 8px 0;
                    flex: 1;
                    background-color: $blue;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }

            .input-wrap {
                position: relative;

                .input {
                    padding: 14px;
                    width: 100%;
                    display: block;
                    background: transparent;
                    font-size: 18px;
                    color: #fff;
                    border-radius: 10px;
                    border: solid 1px #ffffff;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        margin: 0;
                    }
                }

                .input-control {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 3em;
                    cursor: pointer;
                }
                
                .minus {
                    left: 0;
                    margin-left: -15%;
                }
                .plus {
                    right: 0;
                    margin-right: -15%;
                }

                .your-bet-text {
                    margin-top: 5px;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    color: rgba(#fff, .7);
                    font-size: 12px;
                    line-height: 1.8;
                    letter-spacing: 0.7px;
                }
            }
        }
    }

    &-info {

        &-text {
            margin-bottom: 35px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        &__btns {
            margin: 0 -40px;
            display: flex;
            justify-content: center;

            .btn {
                margin: 0 40px;
                padding: 14px 0;
                width: 370px;
                background-color: $blue;
                text-align: center;
                color: #fff;
                font-size: 18px;
                letter-spacing: 1px;
                border-radius: 10px;
                box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
        }
    }
}



// history
.history {

    &-text {
        margin-bottom: 35px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
    }

    &-table {

        .table {

            &--head {
                color: #0a1240;
                font-size: 24px;
                background-color: rgba(#fff, .8);
                border-radius: 4px;

                @media (max-width: 570px) {
                    font-size: 18px;
                }

                .table-column {

                    &:not(:last-child) {
                        border-right: solid 1px #fff;
                    }
                }
            }

            &--body {
                color: #fff;
                font-size: 18px;
                background-color: rgba(#fff, .12);
                border-radius: 10px;
                box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.2);
                
                .table-row {

                    &:hover {
                        background-color: rgba(#000, .5);
                    }
                }

                @media (max-width: 570px) {
                    font-size: 16px;
                }
            }

            &-row {
                display: flex;
            }

            &-column {
                padding: 12px 40px;
                flex: 1;
                flex-basis: 100%;

                @media (max-width: 570px) {
                    padding: 6px 20px;
                }
            }
        }
    }
}